/**************************************************************************************************

	Forms.

 **************************************************************************************************/
.form-table
   {
   	width				:  100% ;
    }
     
.form-field-label-column
   {
   	text-align			:  left ;
   	vertical-align			:  middle ;
   	padding-right			:  16px ;
    }
    
.form-field-value-column
   {
   	text-align			:  left ;
   	vertical-align			:  middle ;
    }
    
.form-field-label
   {
   	display				:  inline ;
    }
    
.form-field-value
   {
   	font-size			:  12px !important ;
   	font-family			:  "Palatino Linotype", times !important ;
    }
    
.form-required-field
   {
   	border-width			:  2px ;
   	border-style			:  solid ;
    }

.form-error-field-value
   {
   	border-color			:  #FF0000 ;
    }

.form-error-field-label
   {
   	color				:  #FF0000 ;
    }

.form-required-tag::after
   {
   	display				:  inline ;
   	color				:  #0000FF ;
   	font-size			:  .83em ;
   	vertical-align			:  super ;
   	font-weight			:  bolder ;
   	border-width			:  2px ;
   	content				:  "(*)" ;
   	padding-left			:  2px ;
    }
    
.form-mandatory-field-hint
   {
   	display				:  inline ;
   	color				:  #0000FF ;
   	font-size			:  10px ;
   	vertical-align			:  top ;
   	font-style			:  italic ;
    }
    
.checkbox:hover 
   {
   	cursor				:  pointer ;
    }
    
.checkbox input:hover 
   {
   	cursor				:  pointer ;
    }
    

/**************************************************************************************************

	JQuery dialog styling.

 **************************************************************************************************/
.ui-dialog-title
   {
	font-family			:  Consolas, "Courier New", Arial, Courrier ;
	font-size			:  16px ;
	margin-left			:  4px !important ; 
	color				:  #F8F4B8 ;
    }
   
   
.ui-dialog-titlebar
   {
   	border-radius			:  0px ;
   	border				:  1px solid #480417 ;
	background			:  #e2aaba; /* Old browsers */
	background			:  -moz-linear-gradient(45deg,  #e2aaba 0%, #8b2240 69%, #000000 100%); /* FF3.6+ */
	background			:  -webkit-gradient(linear, left bottom, right top, color-stop(0%,#e2aaba), color-stop(69%,#8b2240), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background			:  -webkit-linear-gradient(45deg,  #e2aaba 0%,#8b2240 69%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background			:  -o-linear-gradient(45deg,  #e2aaba 0%,#8b2240 69%,#000000 100%); /* Opera 11.10+ */
	background			:  -ms-linear-gradient(45deg,  #e2aaba 0%,#8b2240 69%,#000000 100%); /* IE10+ */
	background			:  linear-gradient(45deg,  #e2aaba 0%,#8b2240 69%,#000000 100%); /* W3C */
	filter				:  progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2aaba', endColorstr='#8b2240',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
   
.ui-dialog-content
   {
	font-family			:  Consolas, "Courier New", Arial, Courrier ;
	font-size			:  12px ;
    }

.ui-dialog-buttonset
   {
   	margin-left			:  10px ;
    }
        
.ui-button
   {
   	width				:  120px;
    }
 
.ui-dialog-titlebar-close
   {
   	width				:  14px !important;
   	height				:  14px !important;
   	border				:  1px outset buttonface !important;
   	margin-top			:  -6px !important;
    }
       
.ui-dialog-titlebar
   {
   	padding				:  3px !important;
    }

.ui-icon-closethick
   {
   	background-image		:  url(/public/images/icon-close.png) !important ;
   	background-color		:  #CFA6B2 ;
   	background-position-x		:  0 ;
   	background-position-y		:  0 ;
    }
    
.ui-button-text
   {
   	font-family			:  Consolas, "Courier New", Arial, Courrier ;
   	font-size			:  16px ;
   	font-weight			:  normal ;
	background			:  #290811; /* Old browsers */
	background			:  -moz-linear-gradient(-45deg,  #290811 0%, #932746 51%, #e9adbe 100%); /* FF3.6+ */
	background			:  -webkit-gradient(linear, left top, right bottom, color-stop(0%,#290811), color-stop(51%,#932746), color-stop(100%,#e9adbe)); /* Chrome,Safari4+ */
	background			:  -webkit-linear-gradient(-45deg,  #290811 0%,#932746 51%,#e9adbe 100%); /* Chrome10+,Safari5.1+ */
	background			:  -o-linear-gradient(-45deg,  #290811 0%,#932746 51%,#e9adbe 100%); /* Opera 11.10+ */
	background			:  -ms-linear-gradient(-45deg,  #290811 0%,#932746 51%,#e9adbe 100%); /* IE10+ */
	background			:  linear-gradient(135deg,  #290811 0%,#932746 51%,#e9adbe 100%); /* W3C */
	filter				:  progid:DXImageTransform.Microsoft.gradient( startColorstr='#290811', endColorstr='#e9adbe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
   	padding				:  3px !important ;
    }
 
.ui-button-text:hover
   {
   	font-weight			:  bold ;
    }

.ui-dialog-titlebar .ui-button-text 
   {
   	display				:  none ;
    }
    
.ui-dialog-titlebar-close
   {
   	border-radius			:  2px ;
   	height				:  12px;
   	width				:  12px;
    }   
    
.ui-dialog-buttonpane
   {
   	margin				:  0px ;
   	padding				:  3px !important ;
    }
    
.ui-dialog
   {
   	padding				:  0px ;
    }
    
.ui-dialog-content
   {
   	padding				:  0px ;
    }
    
.ui-dialog-title, .ui-dialog-titlebar
   {
   	padding				:  0px ;
   	margin				:  0px ;
    }
    
.ui-dialog-title 
   {
   	padding-right			:  200px ;
    }    
    
    
.ui-state-default
   {
   	border				:  1px solid #480417 !important ;
   	color				:  #480417 !important ;
    }
    
    
.ui-button, .ui-widget-content
   {
   	border				:  1px solid #480417 ;
    }

.ui-icon
   {
   	color				:  #480417 !important ;
    }
    
    
.ui-button-text
   {
	color				:  #F8F4B8 !important ;
   	background-color		:  #f1bbca ;
   	display				:  none ;
    }
    
.ui-corner-all
   {
   	border-radius			: 0px ;
    }
    
         
.ui-state-focus
    {
	-webkit-box-shadow		:  3px 3px 10px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow			:  3px 3px 10px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow			:  3px 3px 10px #bababa, inset 0px 0px 1px #ffffff;  
	outline				:  none ;
	font-weight			:  bold !important ;
	border				:  2px solid #480417 !important ;
	color				:  #F8F4B8 !important ;
     }
        
.ui-dialog
    {
	-webkit-box-shadow		: 2px 2px 6px #DDDDDD, inset 3px 3px 1px #ffffff; 
	-moz-box-shadow			: 2px 2px 6px #DDDDDD,  inset 3px 3px 1px #ffffff;  
	box-shadow			: 2px 2px 6px #DDDDDD, inset 3px 3px 1px #ffffff;  
     }
 
.ui-tooltip
   {
   	min-width			: 200px;
   	max-width			: 600px;
    }
    
.ui-tooltip-content
   {
   	text-align			: justify ;
    }
 
 .ui-button-icon-primary
    {
    	margin-left			:  -9px !important;
     }
        
.ui-msgbox-content
   {
   	min-height			: 0px !important ;
    }
    
 .ui-msgbox-dialog-buttonset
    {
    	float				:  none !important ;
    	text-align			:  center !important;
     }

.ui-msgbox-button
   {
    	margin				:  3px 0px 3px 3px !important ;
    	padding				:  0px 0px 0px 0px !important ;
    	width				:  auto ;
    }
 
 .ui-msgbox-button span
   {
    }
    
.ui-msgbox-button-icon-only
   {
   	margin-top			: -7px !important ;
    }
    
.ui-msgbox-dialog-title	
   {
   	margin				: -2px 0px 0px 2px !important ;
    }


.ui-widget, ui-widget-content
   {
   	border				:  1px solid #480417 !important ;
    }
        
    
/**************************************************************************************************

	JQuery UI extras.

 **************************************************************************************************/
 
 /* Allow an extra message to be placed in the JQuery dialog button pane area */
.ui-dialog-buttonpane-extra-wrapper
   {
   	position			:  relative ;
    }
    
.ui-dialog-buttonpane-extra
   {
   	position			:  absolute ;
   	left				:  0px ;
   	top				:  -2px ;
    }
    
    