# Prevent unexpected access to private things 
<FilesMatch "\.(phpclass|phpscript|phpinc|phpinclude|phs|dat|sql|mysql|md)$">
	Deny from all
</FilesMatch>

ErrorDocument 403 http://www.wuthering-bytes.home/index.php
ErrorDocument 404 http://www.wuthering-bytes.home/index.php
